* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #050505;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* FONDO */
.intro {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.65)
        ),
        url("https://u.cubeupload.com/Eradicater/file00000000b36081f5.png");

    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;

    animation: latveria 18s ease-in-out infinite alternate;
}

/* CONTENIDO */

.content {
    animation: aparecer 2s ease;
}

/* TITULO */

h1 {
    font-size: 80px;
    font-weight: 300;

    letter-spacing: 20px;
    margin-left: 20px;

    text-shadow:
        0 0 20px rgba(255, 255, 255, 0.15);
}

/* FRASE */

p {
    margin-top: 20px;

    color: #aaa;

    font-size: 14px;
    letter-spacing: 2px;
}

/* BOTON */

button {
    margin-top: 40px;

    padding: 12px 35px;

    background: rgba(0, 0, 0, 0.25);

    color: white;

    border: 1px solid #666;

    letter-spacing: 4px;

    cursor: pointer;

    transition: 0.4s;
}

button:hover {
    background: white;
    color: black;

    border-color: white;
}

/* ANIMACION */

@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes latveria {

    from {
        background-size: 110%;
        background-position: center;
    }

    to {
        background-size: 120%;
        background-position: center;
    }

}
/* GLITCH SUTIL DE LATVERIA */

.intro {
    position: relative;
    overflow: hidden;
}

.intro::after {
    content: "";
    position: absolute;
    inset: 0;

    background: inherit;

    opacity: 0;

    pointer-events: none;

    animation: glitchLatveria 7s infinite;
}

@keyframes glitchLatveria {

    0%,
    91%,
    100% {
        opacity: 0;
        transform: translate(0);
        filter: none;
    }

    92% {
        opacity: 0.12;
        transform: translate(-2px, 1px);
        filter: hue-rotate(20deg);
    }

    93% {
        opacity: 0.05;
        transform: translate(2px, -1px);
        filter: hue-rotate(-20deg);
    }

    94% {
        opacity: 0.1;
        transform: translate(-1px, 0);
    }

    95% {
        opacity: 0;
        transform: translate(0);
    }
}
